In [4]:
# Importing libraries and dependencies
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

In [5]:
# Creating a Path to the File Using Pathlib
algo_filepath = Path ("algo_returns.csv")
whalereturns_filepath = Path ("whale_returns.csv")
sptsxhistorical_filepath = Path ("sp_tsx_history.csv")

In [6]:
# Reading the CSV into a Pandas DataFrame
algo_df = pd.read_csv(algo_filepath, index_col="Date", parse_dates=True, infer_datetime_format=True)
whalereturns_df = pd.read_csv(whalereturns_filepath, index_col="Date", parse_dates=True, infer_datetime_format=True)
sptsxhistorical_df = pd.read_csv(sptsxhistorical_filepath, index_col="Date", parse_dates=True, infer_datetime_format=True)

In [8]:
# Data Cleaning - Whale Returns

## Reading the file
whalereturns_df.head(3)

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213

In [9]:
## Counting null - Whale Returns
whalereturns_df.count()

SOROS FUND MANAGEMENT LLC      1059
PAULSON & CO.INC.              1059
TIGER GLOBAL MANAGEMENT LLC    1059
BERKSHIRE HATHAWAY INC         1059
dtype: int64

In [10]:
whalereturns_df.isnull().mean() * 100

SOROS FUND MANAGEMENT LLC      0.09434
PAULSON & CO.INC.              0.09434
TIGER GLOBAL MANAGEMENT LLC    0.09434
BERKSHIRE HATHAWAY INC         0.09434
dtype: float64

In [11]:
## Dropping null - Whale Returns

whalereturns_df = whalereturns_df.dropna().copy()

In [12]:
whalereturns_df.isnull().sum()

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [13]:
whalereturns_df.count()

SOROS FUND MANAGEMENT LLC      1059
PAULSON & CO.INC.              1059
TIGER GLOBAL MANAGEMENT LLC    1059
BERKSHIRE HATHAWAY INC         1059
dtype: int64

In [14]:
# ALGORITHMIC Daily Returns

# Reading algorithmic returns
algo_df

              Algo 1    Algo 2
Date
2014-05-28  0.001745       NaN
2014-05-29  0.003978       NaN
2014-05-30  0.004464       NaN
2014-06-02  0.005692       NaN
2014-06-03  0.005292       NaN
...              ...       ...
2019-04-25  0.000682 -0.007247
2019-04-26  0.002981  0.005256
2019-04-29  0.005208  0.002829
2019-04-30 -0.002944 -0.001570
2019-05-01  0.000094 -0.007358

[1241 rows x 2 columns]

In [15]:
# Data Cleaning - AlgoReturns File
# Use the `count` function to view count of non-null values for each column
algo_df.count()

Algo 1    1241
Algo 2    1235
dtype: int64

In [16]:
# Identify and determine null
algo_df.isnull().mean()*100

Algo 1    0.000000
Algo 2    0.483481
dtype: float64

In [18]:
algo_df= algo_df.dropna().copy()

In [19]:
algo_df.isnull().sum()

Algo 1    0
Algo 2    0
dtype: int64

In [20]:
# S&P TSX 60 Returns

## # Reading S&P TSX 60 Closing Prices
sptsxhistorical_df

                 Close
Date
2012-10-01  $12,370.19
2012-10-02  $12,391.23
2012-10-03  $12,359.47
2012-10-04  $12,447.68
2012-10-05  $12,418.99
...                ...
2019-12-20  $17,118.44
2019-12-23  $17,128.71
2019-12-24  $17,180.15
2019-12-27  $17,168.21
2019-12-30  $17,098.56

[1818 rows x 1 columns]

In [21]:
# Check Data Types
sptsxhistorical_df.dtypes

Close    object
dtype: object